@model List<UniversityInformationSystem.Models.DepartmentModel>
@{
    ViewBag.Title = "Create";
}
<br />
<div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-left:1000px;">
    <a href="@Url.Action("Create", "Department")" class="btn btn-info">Ekle</a>
</div>

<table class="table" style="width: 70%; margin-left: auto; margin-right: auto;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Bölüm Adı</th>
            <th scope="col">Fakülte Adı</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BolumAd</td>
                @*<td>@item.FakulteAd</td>*@
                <td style="text-align: right">
                    <a href="@Url.Action("Edit", "Department")" class="btn btn-success">Güncelle</a>
                    <a style="margin-left: 5px" href="@Url.Action("Delete", "Department")" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

