@{
    ViewBag.Title = "Create";
    var years = (SelectList)ViewBag.Years;
}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Öğrenci Ders Sorgulama Ekranı</h1>
    </div>
</div>

<div class="form-group">
    @Html.Label("Öğrenci Numarası")
    @Html.TextBox("ogrenciNo", "", new { id = "ogrenciNo" })
    <button id="searchButtonForStudentNumber" class="btn btn-info">Öğrencinin Aldığı Dersleri Bul</button>
</div>

<div id="studentLessons"></div>

<div class="form-group" style="margin-top:25px">
    @Html.Label("Akademik Yıl:")
    @Html.DropDownList("year", years, "Seçiniz", new { id = "years" })
    <label>Akademik Dönem:</label>
    <select id="donem">
        <option selected>Seçiniz</option>
        <option value="Güz">Güz</option>
        <option value="Bahar">Bahar</option>
        <option value="Yaz">Yaz</option>
    </select>
    <button id="searchButtonForYear" class="btn btn-info">Dersi Alan Öğrenci Sayısını Bul</button>
</div>

<div id="studentLessonsForYear"></div>



<script>
$(document).ready(function(){
    $("#searchButtonForStudentNumber").click(function () {
        var data = { ogrenciNo: $("#ogrenciNo").val() }
        $.post("@Url.Action("SearchLessonsForStudentNumber", "Student")", data, function (result) {
            $("#studentLessons").html(result);
        });
    });
    $("#searchButtonForYear").click(function () {
        var data = { year: $('#years').val(), semester: $('#donem').val() }
        $.post("@Url.Action("SearchLessonsForYear", "Student")", data, function (result) {
            $("#studentLessonsForYear").html(result);
        });
    });
});
</script>