@model UniversityInformationSystem.Models.NoteModel

@{
    ViewBag.Title = "Create";
    var lessons = (SelectList)ViewBag.Lessons;
}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Not Gir</h1>
    </div>
</div>
@using (Html.BeginForm("EnterNote", "StudentLesson", FormMethod.Post))
{
    @Html.HiddenFor(m => m.DersId)
    @Html.HiddenFor(m => m.OgrenciNo)
    @Html.HiddenFor(m => m.Yil)
    <div class="form-group" style="margin-top:25px">
        @Html.LabelFor(m => m.Vize)
        @Html.TextBoxFor(m => m.Vize)
    </div>
    <div class="form-group" style="margin-top:25px">
        @Html.LabelFor(m => m.Final)
        @Html.TextBoxFor(m => m.Final)
    </div>
    <br />
    <button class="btn btn-success" type="submit">Kaydet</button>
}


